        <div class="jumbotron">
            <div class="container">
                <h1>Bienvenu dans l'exercice2 du cours PHP3</h1>
                <p>Bootstrap est utilisé pour : </p>
                <div class="col-lg-8 col-lg-offset-2">
                  <ul class="list-group">
                    <li class="list-group-item">la construction du menu</li>
                    <li class="list-group-item">la mise en page de cette page d'accueil</li>
                    <li class="list-group-item">la mise en forme du tableau des pages de liste</li>
                    <li class="list-group-item">le pied de page</li>
                  </ul>
                </div>
            </div>
        </div>