/*feuille de style de l'exercice CSS10-MonPremierSite*/
#menu ul {
    margin: 0;
    text-align: center;
    list-style: none;
    font-family: "Arial Black";
}
.niveau1 > li {
    display: inline-block;
    margin-right: -0.14em;
    margin-left: -0.13em;
    width: 20%;
    vertical-align: top;
    position: relative;
}
#menu a {
    text-decoration: none;
    color: white;
    background-color: black;
    display: block;
    border: 1px solid white;
    padding: 0.5em;
}
#menu a:hover {
    color: lightgrey;
    font-family: "Arial black";
    text-shadow:10px 4px 0 green;
}
#menu a:active {
    background-color: #5F879D;
}
.niveau2 {
    position: absolute;
    width: 100%;
    max-height: 0;
    overflow: hidden;
}
#menu li:hover .niveau2 {
    display: block;
    max-height: 250px;
    -webkit-transition: 1s;
    transition: 1s;
}
.niveau2 li:hover{
    display: block;
    max-height: 250px;
}