/*feuille de style principale de l'exercice CSS10-MonPremierSite*/

*{ /*comme conseillé dans le doc de formation, j'ai mis ce selecteur 
    pour gérer correctement le footer mail CSSlint  le déconseil ... ? */
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;
    background-color: black;
    font-family: "Arial";
}
#principale{
    max-width: 800px;
    min-height: 100%;
    background-color: white;
    margin: 0 auto;
    position: relative;
}
header{
    background-color: white;
    top: 0;
    width: 100%;
    border: 0;
}
#main{
    height: auto;   
}
#baniere{
    background-image: url("../images/header.jpg");
    width: 100%;
    max-width: 730px;
    padding: 0;
    height:363px;
    background-repeat: no-repeat;
    margin: 0 auto;
    border: 0;
}
main{
    overflow: auto;
}
aside{
    display: block;
    margin: 1em;
    float: left;
    width: 270px;
    text-align: right;
}

aside div{
    border: 1px solid black;
    margin: 0 0 1em;
    background-color: lightgray;
    text-align: center;
}
article{
    margin:1em auto;
    overflow: hidden;
    min-width: 10em;
}
footer{
    color: white;
    text-align: center;
    background-color: grey;
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 2em;
}
.cont_article{
    position: relative;
    overflow: hidden;
}

.bloc_article{
    float:left;
    width: 45%;
    min-width: 10em;
    padding-right: 5%;
}
.bloc_article h1{
    background-color: black;
    color:white;
}
.bloc_article .a_article{
    color:dimgrey;
    font-weight: bold;
}
.bloc_article ul {
    list-style-image: url("../images/fleche.gif");
    margin: 0 40px;
}
.capital{
    text-transform: uppercase;
}
img{
    max-width: 100%;
}
i{
    margin-left: 1px;
    margin-right: 3px;
}
p{
    text-align: justify;
}