        <div class="jumbotron">
            <div class="container"> 
                <h1>Bienvenue dans l'exercice Final du cours PHP3 ("application CRM") version multi controleur</h1>
                <p>quelques points à noter : </p>
                <div class="col-lg-8 col-lg-offset-2">
                  <ul class="list-group">
                    <li class="list-group-item">Au niveau MPD, clients et Prospect sont stockées dans une entité "Personne"<br>
                        Cliens et prospect n'étant effectivement tous des personnes, différents simplement d'un état changeant dans le temps.<br>
                        (Les listes Clients et Prospects étant alimentées par 2 views distinctes sur cette tables)
                    </li>
                    <li class="list-group-item">Il en découle que, selon moi, un seul modeler (PersonneMode) s'avere nécessaire<br>
                        (contrairement aux formulaires de client et propect différents dont la nécessité de classe ProspectView et ClientView paraissent nécessaires)
                    </li>
                    <li class="list-group-item">En ce qui concerne le partie controlleur, comme demandé, j'ai fait ici une version multicontroller (un controleur par entité<br>
                        Je ne suis pas convaincu de l'interêt puisque tout le code est mutualiser dans la class controleur mère<br><br>
                        J'avais donc fait une première verion <a href="../ExoFinal-ApplicationCRM/">ici</a> avec un unique controleur
                    </li>                    
                  </ul>
                </div>
            </div>
        </div>