        <div class="jumbotron">
            <div class="container"> 
                <h1>Exo Final du cours PHP3 v3.1 (révision post corrections)</h1>
                <p>à noter : </p>
                <div class="col-lg-8 col-lg-offset-2">
                  <ul class="list-group">
                    <li class="list-group-item">cette version comporte un dispactcher entre l'index et les différents controllers<br>
                        (Ce dispatcher instancie le bon controleur dynamiquement avec les infos recues en post)
                    </li>
                    <li class="list-group-item">Il existe un controleur pour chaque entité, mais également pour la page d'acceuil... <br>
                        Question: l'architecture MVC implique t elle effectivement un controleur pour chaque page statique ?
                    </li>
                    <li class="list-group-item">Les classes mères sont abstraites. Et toute les méthodes qui peuvent etre mutualisées le sont
                    </li>                    
                  </ul>
                </div>
            </div>
        </div>