        <div class="jumbotron">
            <div class="container">
                <h1>Bienvenue dans l'exercice3 du cours PHP3</h1>
                <p>quelques points à noter : </p>
                <div class="col-lg-8 col-lg-offset-2">
                  <ul class="list-group">
                    <li class="list-group-item">pas encore de frm de création ou suppression -> 3 pages provisoires 'en dur' pour tests </li>
                    <li class="list-group-item">j'ai unifié les methode add et update en une seule "uspsert"</li>
                    <li class="list-group-item">je suis parti sur l'idée d'implémenter une archi "multi MVC" (d'où la création d'un UserModel spécifique)</li>
                  </ul>
                </div>
            </div>
        </div>