        <div class="jumbotron">
            <div class="container">
                <h1>Bienvenue dans l'exercice Final du cours PHP3 ("application CRM")</h1>
                <p>quelques points à noter : </p>
                <div class="col-lg-8 col-lg-offset-2">
                  <ul class="list-group">
                      <li class="list-group-item">Au niveau MPD, clients et Prospect sont stockées dans une entité personne</li>
                    <li class="list-group-item">je souhaitais trouver une solution de templating pour les listes, mais la seule solution qui me venait à l'esprit me semblait complexe.<br>
                        Je suis donc resté sur la solution du controleur qui écrit le HTML (en attendant de trouver mieux...) 
                    </li>
                  </ul>
                </div>
            </div>
        </div>