        <div class="jumbotron">
            <div class="container">
                <h1>Bienvenue dans l'exercice4 du cours PHP3</h1>
                <p>quelques points à noter : </p>
                <div class="col-lg-8 col-lg-offset-2">
                  <ul class="list-group">
                      <li class="list-group-item">J'ai continué sur l'idée d'une architecture "multi MVC" (meme si non demandé).<br>
                            J'ai par contre du utiliser une méthode différente pour le serveur cefii de celle que je souhaitais et qui marche en local.<br>
                            En effet, sur le serveur cefii je n'arrive pas à instancier une classe en ayant construit son nom dynamiquement. 
                            (cf controller.class.php fonction dispatch en ligne 34 à 60)<br>Je ne comprends pas pourquoi...
                    </li>
                    <li class="list-group-item">je souhaitais trouver une solution de templating pour les listes, mais la seule solution qui me venait à l'esprit me semblait complexe.<br>
                        Je suis donc resté sur la solution du controleur qui écrit le HTML (en attendant de trouver mieux...) 
                    </li>
                  </ul>
                </div>
            </div>
        </div>