        <div class="jumbotron">
            <div class="container">
                <h1>Bienvenue dans l'exercice4 du cours PHP3</h1>
                <p>Version corrigée post retour Cefii</p>
                <div class="col-lg-8 col-lg-offset-2">
                  <ul class="list-group">
                        <li class="list-group-item">
                            remplacement du principe "getItemByData et upsert" <br>
                            par update et insert(avec 'on duplicate key update)
                        </li>                      
                        <li class="list-group-item">correction du problème d'appel de classe via nom dynamique <br>
                          (grace à ucfirst, merci pour l'analyse)
                        </li>
                        <li class="list-group-item">renomage des 2 methodes qui étaient en StudyCase plutôt qu'en camelCase</li>
                  </ul>
                </div>
            </div>
        </div>