        <div>
            Le corps de page acceuil : bienvenu dans l'exo1 PHP3<br>
            à défaut de menu, ci dessous les url des différentes pages demandées<br>
            <a  href="http://exoscefii/PHP3-PHP-Expert/Exo1-ApplicationMVC-Controller/?page=listeUtilisateurs">http://exoscefii/PHP3-PHP-Expert/Exo1-ApplicationMVC-Controller/?page=listeUtilisateurs</a><br>
            <a  href="http://exoscefii/PHP3-PHP-Expert/Exo1-ApplicationMVC-Controller/?page=list&table=user">http://exoscefii/PHP3-PHP-Expert/Exo1-ApplicationMVC-Controller/?page=list&table=user</a><br>
            <a  href="http://exoscefii/PHP3-PHP-Expert/Exo1-ApplicationMVC-Controller/?page=frmMajUser">http://exoscefii/PHP3-PHP-Expert/Exo1-ApplicationMVC-Controller/?page=frmMajUser</a><br>
        </div>
